@model int
<style>
    .nowrap {
        white-space: nowrap;
    }
    #crtable2 tbody tr {
        cursor: pointer;
    }

        #crtable2 tbody tr:hover {
            background-color: #f2f2f2;
        }

</style>
<div class="table-responsive">
    <table class="table" id="crtable2">
        <thead>
            <tr>
                <th>Country</th>
                <th>Title</th>
                <th class="nowrap">First Name</th>
                <th class="nowrap">Last Name</th>
                <th style="min-width:200px">Company</th>
                <th style="min-width:200px">Role</th>
                <th class="nowrap">Mobile Phone1</th>
                <th class="nowrap">Mobile Phone2</th>
                <th class="nowrap">Mobile Phone3</th>
                <th class="nowrap">Work Email</th>
                <th class="nowrap">Personal Email</th>
                @*<th class="nowrap">Business Unit</th>
                <th class="nowrap">Budget Month</th>
                <th class="nowrap">Remarks</th>*@
            </tr>
        </thead>
    </table>
</div>

@Html.Script(
    @<script>
        comResourceTable2 = $("#crtable2");
        comResourceTable2.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             "ajax": {
                 "url": "@Url.Action("AjaxGetCompanyResourceForCall","CompanyResource")?eventId=@Model",
                 "type": "POST",
                 "datatype": "json",
                 "data": function(d) {
                     d.ComId = company_id_selected_val;
                     d.Name = $('#crtable_filter').find('input[name="search_name"]').val();
                     d.Mobile = $('#crtable_filter').find('input[name="search_mobile"]').val();
                     d.Email = $('#crtable_filter').find('input[name="search_email"]').val();
                     d.Role = $('#crtable2_filter').find('input[name="search_role"]').val();
                 }
             },
             "columns": [
                 { "data": "Country", "name": "Country", "orderable": true },
                 { "data": "Salutation", "name": "Salutation", "orderable": true },
                 { "data": "FirstName", "name": "FirstName", "orderable": true },
                 { "data": "LastName", "name": "LastName", "orderable": true },
                 { "data": "Organisation", "name": "Organisation", "orderable": true },
                 { "data": "Role", "name": "Role", "orderable": true },
                 { "data": "MobilePhone1", "name": "MobilePhone1", "orderable": true },
                 { "data": "MobilePhone2", "name": "MobilePhone2", "orderable": true },
                 { "data": "MobilePhone3", "name": "MobilePhone3", "orderable": true },
                 { "data": "WorkEmail", "name": "WorkEmail", "orderable": true },
                 { "data": "PersonalEmail", "name": "PersonalEmail", "orderable": true },
                 //{ "data": "BudgetMonthStr", "name": "BusinessUnit", "orderable": true },
                 //{ "data": "BudgetMonth", "name": "BudgetMonth", "orderable": true },
                 //{ "data": "Remarks", "name": "BudgetMonth", "orderable": true },
             ],
             "aLengthMenu": [[25, 50, 100, 500, 1000, 2000], [25, 50, 100, 500, 1000, 2000]],
             "iDisplayLength": 25,
             "aaSorting": [[0, "asc"]],
             "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 $(nRow).attr('data-id', aData["ID"]);
                 $(nRow).attr('data-country', aData["Country"]);
                 $(nRow).attr('data-salutation', aData["Salutation"]);
                 $(nRow).attr('data-firstname', aData["FirstName"]);
                 $(nRow).attr('data-lastname', aData["LastName"]);
                 $(nRow).attr('data-organisation', aData["Organisation"]);
                 $(nRow).attr('data-role', aData["Role"]);
                 $(nRow).attr('data-mobilephone1', aData["MobilePhone1"]);
                 $(nRow).attr('data-mobilephone2', aData["MobilePhone2"]);
                 $(nRow).attr('data-mobilephone3', aData["MobilePhone3"]);
                 $(nRow).attr('data-workemail', aData["WorkEmail"]);
                 $(nRow).attr('data-personalemail', aData["PersonalEmail"]);
                 //$(nRow).attr('data-budgetmonth', aData["BudgetMonth"]);
                 //$(nRow).attr('data-businessunit', aData["BusinessUnit"]);
                 $(nRow).find('td:eq(2)').addClass('nowrap');
                 $(nRow).find('td:eq(3)').addClass('nowrap');
                 $(nRow).find('td:eq(6)').addClass('nowrap');
                 $(nRow).find('td:eq(7)').addClass('nowrap');
                 $(nRow).find('td:eq(8)').addClass('nowrap');
                 $(nRow).find('td:eq(9)').addClass('nowrap');
                 $(nRow).find('td:eq(10)').addClass('nowrap');
             },
             initComplete: function() {
                 var _table = this;
                 var filter_box = _table.parent().find("#crtable2_filter");
                 var htmlFilter = '<label>Name:<input type="search" name="search_name" /></label>';
                 htmlFilter += '<label>Mobile:<input type="search" name="search_mobile" /></label>';
                 htmlFilter += '<label>Email:<input type="search" name="search_email" /></label>';
                 htmlFilter += '<label>Role:<input type="search" name="search_role" /></label>';
                 filter_box.html(htmlFilter);
                 searchBindingKeyUp(_table.parent().find('input[type="search"]'), _table);
             },
        });
        function searchBindingKeyUp(elementSearch, tableElement) {
            elementSearch.unbind();
            var timeOutTyping;
            elementSearch.bind('keyup',
                function (e) {
                    clearTimeout(timeOutTyping);
                    timeOutTyping = setTimeout(function () {
                        tableElement.fnFilter(elementSearch.eq(0).val());
                    },
                        600);
                });
        }
    </script>
)