@model PQT.Web.Models.BookingModel

<div class="card card-underline" style="background: white; margin: auto; max-width: 900px; position: relative;">
    <div class="card-head">
        <header><b>Edit Form</b></header>
    </div>
    @using (Html.BeginForm("RejectBooking", "Booking", FormMethod.Post, new { @class = "form form-validate", enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.HiddenFor(m=>m.BookingID)
                    @Html.Bootstrap().TextAreaFor(m => m.Message).Class("form-control").ShowValidationMessage(true)
                    @Html.Bootstrap().LabelFor(m => m.Message).LabelText("Message")
                </div>
            </div>
        </div>
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <button type="submit" class="btn btn-warning btnReject"><i class="md md-warning"></i> Reject</button>
            </div>
        </div>
    }
</div>