@using PQT.Domain.Entities
@using PQT.Web.Models
@using Resources
@model PQT.Web.Models.LoginViewModel
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>PQT Control - Login</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="../../Content/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="../../Content/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="../../Content/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="../../Content/css/theme-default/material-design-iconic-font.min.css?1421434286" />
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('../../Content/img/img16.jpg')"></div>
        <div class="spacer"></div>
        <div class="card contain-sm style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <img src="~/Content/img/logo_bg.jpg" style="width: 210px" />
                    </div>
                    <div class="col-sm-7">
                        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login_form", @class = "form" }))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control text-lowercase" id="email" name="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password">
                                <label for="password">Password</label>
                                @*<p class="help-block"><a href="#">Forgotten?</a></p>*@
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox"  class="cbx-sign" id="RememberMe" checked="checked" value="true" name="RememberMe"/>
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                        }
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <p class="error">
                                @Html.ValidationMessage("")
                            </p>
                        }
                    </div><!--end .col -->
                </div><!--end .row -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>


    <script src="../../Content/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../Content/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../Content/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../Content/js/libs/spin.js/spin.min.js"></script>
    <script src="../../Content/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="../../Content/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="../../Content/js/core/source/App.js"></script>
    <script src="../../Content/js/core/source/AppNavigation.js"></script>
    <script src="../../Content/js/core/source/AppOffcanvas.js"></script>
    <script src="../../Content/js/core/source/AppCard.js"></script>
    <script src="../../Content/js/core/source/AppForm.js"></script>
    <script src="../../Content/js/core/source/AppNavSearch.js"></script>
    <script src="../../Content/js/core/source/AppVendor.js"></script>
    <script src="../../Content/js/core/demo/Demo.js"></script>
</body>
</html>
