@using NS
@using PQT.Domain.Enum
@model PQT.Web.Models.LeadModel

@{
    var title = "Request Brochure";
}

<div class="card card-underline" style="background: white; margin: auto; max-width: 600px; position: relative;">
    <div>
        <div class="card-head">
            <header><b>@title</b></header>
        </div><!--end .card-head -->
        @using (Ajax.BeginForm("RequestBrochure", "routeValues", new AjaxOptions { OnFailure = "onFailRequestAction", OnSuccess = "onSuccessRequestAction" }, new { @id = "CreateOrEditForm", @class = "form" }))
            {
            <div class="card-body">
                @Html.HiddenFor(m => m.id, new { @id = "request_id" })
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Attach Proof<span class="required">*</span><br /><br /></label>
                        <div class="col-sm-9" style="margin-top: 15px">
                            @Html.Bootstrap().FileFor(m => m.AttachmentFile).Id("request-attachment").HtmlAttributes(new { required = "required" }).ShowValidationMessage(false)
                        </div>
                    </div>
                </div>
            </div><!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <a href="#" class="btn btn-success" id="request_submit"><i class="md md-done"></i> Submit</a>
                </div>
            </div>
        }
    </div>
</div><!--end .card -->
