@using Resources
@model string

<section>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1><span class="text-xxxl text-light">403 <i class="fa fa-times-circle-o text-danger"></i></span></h1>
                <h2 class="text-light">Don't Have Permission</h2>
            </div><!--end .col -->
        </div><!--end .row -->
        <br />
        <div class="row text-center">
            <a href="@Url.Action("Index", "Home", new { area = Model })" class="text-primary">Go Dashboard</a>  or @Html.ActionLink("Login", "Login", "Account", new { area = Model, returnUrl = Request.RawUrl }, new {@class="text-danger"}) using another account.
        </div>
    </div><!--end .section-body -->
</section>
